name: Build
on:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'
      - 'codeql-analysis.yml'
  pull_request:
    paths-ignore:
      - '**.md'
jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
    steps:
     - name: Checkout
       uses: actions/checkout@v2

     - name: Setup Node
       uses: actions/setup-node@v1

     - name: Install NPM
       run: npm install

     - name: Build
       run: npm run build

     # Set Path workaround for https://github.com/actions/virtual-environments/issues/263
     - run: |
        echo "::add-path::C:\Program Files\Git\mingw64\bin"
        echo "::add-path::C:\Program Files\Git\usr\bin"
        echo "::add-path::C:\Program Files\Git\bin"
       if: matrix.os == 'windows-latest'
       name: "Temp step to Set Path for Windows"

     - name: Run
       uses: petarpetrovt/setup-sde@master
       with:
         environmentVariableName: TEST_SDE_PATH

     - name: Test
       run: npm run test TEST_SDE_PATH
