name: Build
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - 'run.yml'
      - 'codeql-analysis.yml'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'run.yml'
      - 'codeql-analysis.yml'
jobs:
  build:
    name: Build and test ${{ matrix.version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest] #, macos-latest]
        version: ["9.14.0", "9.7.0", "9.0.0", "8.69.1"]
    steps:
     - name: Checkout
       uses: actions/checkout@v2

     - name: Setup Node
       uses: actions/setup-node@v1

     - name: Install NPM
       run: npm install

     - name: Build
       run: npm run build

     - name: Run
       run: npm run start
       env:
         INPUT_ENVIRONMENTVARIABLENAME: TEST_SDE_PATH
         INPUT_SDEVERSION: ${{ matrix.version }}

     - name: Test
       run: npm run test TEST_SDE_PATH
