name: Test
on: [push]
jobs:
  build:
    name: Run on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
     - name: Checkout
       uses: actions/checkout@v2

     - name: Run setup-sde
       uses: petarpetrovt/setup-sde@improve-workflows
       with:
         environmentVariableName: TEST_SDE_PATH
