name: Build
on: [push]
jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
     - name: Checkout
       uses: actions/checkout@v2

     - name: Test
       uses: petarpetrovt/setup-sde@fix-paths
       with:
         environmentVariableName: TEST_SDE_PATH
